# Node.js 
node_modules/
npm-debug.log*
.env
dist/
/frontend/.next

# Python 
__pycache__/
*.pyc
venv/
.env

# Java 
target/
*.class
*.jar

# 일반적인 항목들
.DS_Store
*.log
*.tmp
.idea/
.vscode/

/logs






#공개용 repository 폴더 분류
/home/jeonghs/workspace/nextitslmsgl/backend/api
/home/jeonghs/workspace/nextitslmsgl/backend/nitstudio
/home/jeonghs/workspace/nextitslmsgl/backend/search_data
/home/jeonghs/workspace/nextitslmsgl/backend/services
/home/jeonghs/workspace/nextitslmsgl/backend/utils
/home/jeonghs/workspace/nextitslmsgl/backend/app.py
/home/jeonghs/workspace/nextitslmsgl/backend/config.py
/home/jeonghs/workspace/nextitslmsgl/backend/main.py
/home/jeonghs/workspace/nextitslmsgl/backend/main.py.bak
/home/jeonghs/workspace/nextitslmsgl/backend/requirements.txt
/home/jeonghs/workspace/nextitslmsgl/backend/SimSun.ttf
/home/jeonghs/workspace/nextitslmsgl/frontend
/home/jeonghs/workspace/nextitslmsgl/Jenkinsfile
/home/jeonghs/workspace/nextitslmsgl/Jenkinsfile copy
/home/jeonghs/workspace/nextitslmsgl/poetry.lock
/home/jeonghs/workspace/nextitslmsgl/pyproject.toml
/home/jeonghs/workspace/nextitslmsgl/README.md



# notebooklm
/home/jeonghs/workspace/nextitslmsgl/backend/notebooklm/clean_weaviate.py
/home/jeonghs/workspace/nextitslmsgl/backend/notebooklm/weaviate_s.py